.products{
    order: 3;
    width:1280px;
    color: rgb(42, 37, 75);
    font-size: 32px; 
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}
.products__card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 26.5px; 
}
.products__card img{
    width: 305px;
    height: 375px;
}
.products__card p{
    font-size: 20px;
    color: rgb(42, 37, 75);
    margin: 8px 0px;
}
.products button{
    font-size: 20px;
    color: rgb(42, 37, 75);
    margin: 30px auto 0 auto;
}

@media (max-width: 768px) {
    .products{
        order: 2;
        width: 90%;
    }
    .products__card img{
        width: 40vw;
        height: auto;
        margin-top: 20px;
    }
}