.products{
    order: 3;
    width:1280px;
    color: rgb(42, 37, 75);
    font-size: 32px; 
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}
.products__card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 26.5px 0; 
}
.products__card, .products__card_top img{
    width: 305px;
    height: 375px;
}
.products__card, .products__card_top p{
    font-size: 20px;
    color: rgb(42, 37, 75);
    margin: 8px 0px;
}
.products__card{
    display: none;
}
.products__card{
    transition: visible 0.3s ease;
}
.products button{
    font-size: 20px;
    color: rgb(42, 37, 75);
    margin: 60px auto 0 auto;
}

@media (max-width: 768px) {
    .products{
        order: 2;
        width: 90%;
    }
    .products__card img{
        width: 40vw;
        height: auto;
        margin-top: 20px;
    }
}