*{
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    gap:0;
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(249, 249, 249);
}
.wrapper {
    flex: 1;
}
main{
    display: flex;
    flex-direction: column;
}
button {
    font-size: 18px;
    padding: 16px 32px;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s ease;
    background: rgb(240, 240, 240);

}
button:hover {
    opacity: 0.80;
}

a{
    text-decoration: none;
    color: rgb(114, 110, 141);
    transition: opacity 0.2s;
}
a:hover {
    opacity: 0.80;
}
.mailling__input{
    display: flex;
}

.mailling__input input{
    padding-left: 32px;
    border: none;
}

.mailling__input input:focus{
    outline: none;
}

.mailling__input input:-webkit-autofill {
    -webkit-text-fill-color: #ffffff !important;
    transition: background-color 5000s ease-in-out 0s;
}

.mailling__input button{
    font-size: 20px;
    background: rgb(255, 255, 255);
}