footer{
    background: rgb(42, 37, 75);
    min-width: 100%; 
    width: 1440px; 
}
.footer__container{
    width: 1280px;
    padding: 50px 0;
    margin: 0 auto;
}
.footer__top{
    display: flex;
    justify-content: space-between;
}
.footer__menu{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer__menu h1{
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.footer__menu a{
    font-size: 16px;
    color: rgb(255, 255, 255);
}

footer .mailling__input input{
    background: rgba(255, 255, 255, 0.15);
    width: 464px;
    height: 62px;
    color: white;
}
footer .mailling__input input::placeholder{
    color: white;
}

.footer__bottom{
    display: flex;
    font-size: 20px;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between;
}
.footer__links{
    display: flex;
    align-items: center;
    gap: 24px;
}
.footer__links img{
    width: 24px;
    height: 24px;
}
#footer__line-mini{
    display: none;
}

@media (max-width: 768px) {
    footer{
        width: 100%;
    }
    .footer__container{
        width: 90%;
        overflow: hidden;
    }

    .footer__top{
        flex-wrap: wrap;
        gap: 70px;
        justify-content: flex-start;
        margin-bottom: 20px;
    }
    #footer__line{
        width: 90vw;
    }
    .footer__bottom{
        width: 90vw;
    }
    footer .mailling__input{
        width: 75vh;
    }
    footer .mailling__input input{
        width: 40%;
    }
    .footer__links{
        display: none;
    }
    #footer__line{
        display: none;
    }
    #footer__line-mini{
        display: block;
        margin-bottom: 20px;
    }
}