nav{
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    width: 1280px;
}

#burger-button{
    display: none;
    padding-bottom: 5px;
}

.avion{
    font-size: 20px;
    color: rgb(34, 32, 46);
}

.main-links{
    display: flex;
    color: rgb(114, 110, 141);
    font-size: 20px;
}
.main-links a{
    margin: 0 22px;
}

.side-actions{
    display: flex;
    align-items: center;
    gap:16px;
}

@media (max-width: 768px) {
    nav{
        width: 80%;
        margin: 30px auto 0 auto;
    }
    .main-links {
        display: none;
        width: 100%;
        margin-top: 10px;
    }

    .main-links a {
        margin: 10px 0;
    }
    #burger-button{
        display:block;
    }    
}